/*头部导航样式*/
#top{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.3rem;
    line-height: 0.88rem;
    float: left;
    display: block;
    position: fixed;
    background-color: white;
    z-index: 5;
}
.leftTop,.rightTop{
    width: 15%;
    height: 0.88rem;
    float: left;
}
.leftTop{
    position: relative;
}
.leftTop>img{
    width: 0.18rem;
    height: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.titleTop {
    width: 70%;
    float: left;
    text-align: center;
    font-size: 0.26rem;
    color: #000000;
}
/*内容部分样式*/
#body{
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    float: left;
    background-color: #F2F2F2;
    margin-top: 0.88rem;
}
/*边框样式*/
.border{
    width: 100%;
    height: 0.2rem;
    background-color: #F2F2F2;
    float: left;
}
.content{
    width: 100%;
    float: left;
}
.con{
    width: 100%;
    float: left;
    background-color: white;
    border-radius: 0.1rem;
}
.con ul{
    width: 100%;
    float: left;
    padding: 0rem 0.5rem 0rem 0.4rem;
}
.con>ul>li{
    width: 100%;
    height: 1rem;
    font-size: 0.28rem;
    color: #cccccc;
    line-height: 1rem;
    border-bottom: 1px solid #F2F2F2;
}
input[type='tel'],input[type='text'],input[type='number']{
    width: 60%;
    height: 0.96rem;
    line-height: 0.96rem;
    border: none;
    background-color: white;
    float: left;
    font-size: 0.28rem;
}
.codeBox{
    float: right;
    height: 1rem;
    display: flex;
    margin-right: 0.16rem;
}
.sendCode{
    width: 1.2rem;
    height: 0.4rem;
    background-color: #2a2f7b;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.2rem;
    color: white;
    border-radius: 0.1rem;
    margin: auto;
}
.btn{
    width: 100%;
    margin-top: 3.8rem;
    float: left;
    display: block;
}
.submit{
    width: 3.3rem;
    height: 0.6rem;
    display: block;
    margin: 0 auto;
    background-color: #2c2e7e;
    font-size: 0.26rem;
    color: white;
    text-align: center;
    line-height: 0.6rem;
    border-radius: 0.1rem;
}