#body{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: block;
    margin: 0 auto;
    font-family: PingFangSC-Regular, sans-serif;
}
/*头部样式*/
#top{
    width: 100%;
    height: 0.88rem;
    background-color: #ffffff;
    padding: 0 0.3rem;
    line-height: 0.88rem;
    float: left;
    display: block;
    position: fixed;
    z-index: 5;
}
.leftTop,.rightTop{
    width: 15%;
    height: 0.88rem;
    float: left;
}
.leftTop{
    position: relative;
}
.leftTop>img{
    width: 0.18rem;
    height: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.titleTop{
    width: 70%;
    float: left;
    text-align: center;
    font-size: 0.26rem;
    color: #000000;
}
/*内容样式*/
#content{
    width: 100%;
    float: left;
    margin-top: 0.88rem;
    display: block;
    overflow-y: auto;
    padding-bottom: 0.6rem;
}
/*加油站信息样式*/
.con-staticInfo{
    width: 100%;
    /*height: 2.96rem;*/
    background-color: #F2F2F2;
    padding:0.36rem 0.5rem 0.44rem;
    float: left;
    margin-top: 0.2rem;
    font-size: 0.26rem;
    color: #666666;
}
.con-staticInfo ul{
    width: 100%;
    float: left;
}
.con-staticInfo>ul>li{
    width: 100%;
    padding-bottom: 0.2rem;
    float: left;
    line-height: 0.4rem;
}
.con-staticInfo>ul>li:last-child{
    padding-bottom: 0rem;
}
.con-staticInfo>ul>li>span{
    font-size: 0.26rem;
    color: #999999;
}
.PayCount{
    font-size: 0.28rem;
    text-align: center;
    padding-bottom: 0.3rem;
}
#count{
    font-size: 0.4rem;
    color: #ff6000;
}
.li1,.li2{
    width: 50%!important;
    text-align: left;
}
.li2{
    text-align: right;
}
/*优惠券样式*/
.con-coupon{
    width: 100%;
    height: 0.9rem;
    float: left;
    padding: 0rem 0.5rem;
    background-color: white;
    line-height: 0.9rem;
}
.con-couponName{
    float: left;
    font-size: 0.3rem;
    font-weight: bold;
    color: #666666;
}
.con-couponNum{
    float: right;
    font-size: 0.28rem;
    color: #ff6000;
    position: relative;
}
.couponNum{
    padding-right: 0.34rem;
}
.con-couponNum>img{
    width: 0.16rem;
    height: 0.3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.border{
    width: 100%;
    height: 0.2rem;
    float: left;
    background-color: #F2F2F2;
}
/*支付信息样式*/
.con-payInfo{
    width: 100%;
    background-color: white;
    padding: 0rem 0.6rem 0rem 0.5rem;
    float: left;
    font-size: 0.28rem;
    color: #808080;
}
.con-payInfo ul{
    width: 100%;
    float: left;
}
.con-payInfo>ul>li{
    width: 100%;
    height: 0.72rem;
    float: left;
    font-size: 0.28rem;
    color: #808080;
    line-height: 0.72rem;
    text-align: left;
}
.count,.coup{
    float: right;
}
.payCount{
    color: #2c2e7e;
}
.payCoupon{
    color: #999999;
}
.payBox{
    float: right;
    font-size: 0.26rem;
    color: #2c2c7e;
    font-weight: bold;
}
.pay{
    padding-left: 0.3rem;
    font-size: 0.32rem;
}
.count{
    color: #2c2e7e;
}
/*支付方式样式*/
.con-payType{
    width: 100%;
    float: left;
    background-color: white;
}
.con-payType ul{
    width: 100%;
    float: left;
}
.con-payType>ul>li{
    width: 100%;
    height: 0.9rem;
    float: left;
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.9rem;
    padding: 0rem 0.5rem;
    border-bottom: 1px solid #F2F2F2;
}
.con-payType>ul>li:last-child{
    border-bottom: none;
}
.payType{
    width: 35%;
    float: left;
    text-align: left;
}
.payType img{
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin:0.2rem 0.2rem 0.2rem 0rem;
}
.payTypeCoup{
    float: left;
    font-size: 0.24rem;
    color: #ff6000;
    text-align: left;
}
.paybutton {
    width: 0.42rem;
    height: 0.42rem;
    background-color: white;
    border: 1px solid #808080;
    float: right;
    border-radius: 50%;
    position: relative;
    margin: 0.24rem 0rem;
}
.paybtn{
    width: 0.32rem;
    height: 0.32rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.con-payType ul li:first-child{
    background-color: #ffe0be;
}
.active{
    background-color: #ff6000;
}
.btnActive{
    border: 1px solid #ff6000;
}
/*按钮样式*/
.btn{
    width: 100%;
    float: left;
    margin-top: 0.3rem;
}
.submit{
    width: 4.5rem;
    height: 1.0rem;
    background-color: #ff6000;
    font-size: 0.34rem;
    color: white;
    text-align: center;
    line-height: 1.0rem;
    display: block;
    margin: 0 auto;
    border-radius: 0.1rem;
}
.CountNum{
    padding-left: 0.08rem;
}

/*遮罩层显示时body的样式*/
.notScroll {
    overflow: hidden;
}
/*提示样式*/
#hint{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 10;
    display: none;
    /*display: block;*/
}
.hintactive{
    display: block!important;
}
#showBox{
    width: 5.5rem;
    height: 6rem;
    position: fixed;
    top: 3.9rem;
    right: 1rem;
    z-index: 15;
    display: none;
}
.box{
    width: 5.5rem;
    height: 6rem;
    background-color: white;
    position: absolute;
    top: 0rem;
    right: 0rem;
    float: left;
}
.showBox-title{
    width: 100%;
    padding-top: 0.7rem;
    font-size: 0.3rem;
    color: #808080;
    text-align: center;
}
.showBox-title span{
    color: #ff6000;
}
.showBox-con{
    width: 100%;
    margin-top: 0.7rem;
    font-size: 0.22rem;
    color: #999999;
    text-align: center;
    float: left;
}
.showBox-con span{
    display: block;
}
.showBox-con img{
    width: 3.02rem;
    height: 3.02rem;
    display: block;
    margin: 0.2rem auto 0;
}
.close{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}
.close img{
    width: 0.4rem;
    height: 0.4rem;
    display: block;
}
/*输入密码样式*/
#showPass{
    width: 100%;
    height: 4.8rem;
    background-color: #FFFFFF;
    position: fixed;
    top: 2rem;
    left: 0rem;
    z-index: 15;
    border-radius: 0.1rem;
    display: none;
}
.PassBox{
    width: 100%;
    height: 4.8rem;
    background-color: #FFFFFF;
    position: absolute;
    top: 0rem;
    right: 0rem;
    float: left;
    border-radius: 0.1rem;
}
.Pass-title{
    width: 100%;
    height: 1.1rem;
    font-size: 0.3rem;
    color: #666666;
    text-align: center;
    line-height: 1.1rem;
    float: left;
}
.Pay-count{
    width: 100%;
    height: 1.6rem;
    background-color: #F2F2F2;
    text-align: center;
    float: left;
}
.Pay-title{
    width: 100%;
    font-size: 0.28rem;
    color: #808080;
    padding-top: 0.3rem;
    float: left;
}
.Pay-num{
    width: 100%;
    font-size: 0.36rem;
    color: #2c2e7e;
    padding-top: 0.2rem;
    float: left;
}
.Pass{
    width: 100%;
    padding: 0rem 0.6rem;
    margin-top: 0.5rem;
    float: left;
    position: relative;
}
/*输入密码框样式*/
.password_num{
    width: 100%;
    float: left;
}
.password_num ul{
    width: 100%;
    float: left;
}
.password_num ul li{
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid #cccccc;
    margin-right: 0.3rem;
    text-align: center;
    font-size: 0.68rem;
    float: left;
    box-shadow: 0rem 0rem 0.29rem 0rem rgba(2, 5, 118, 0.11);
}
.password_num ul li:last-child{
    margin-right: 0;
}
.password_num ul li img {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.15rem;
    border: none;
}
/*数字键盘样式*/
.passub{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:4.1rem;
    background: #7c7c7c;
}
.passub_num{
    height: 4rem;
    width: 100%;
    float: left;
    margin-bottom: 0.1rem;
}
.passub_num ul{
    width: 100%;
}
.passub_num ul li{
    float: left;
    height: 0.9rem;
    background: #fff;
    width: 30.66%;
    margin-left: 2%;
    margin-top: 0.1rem;
    border-radius: 5px;
    font-size: 0.52rem;
    text-align: center;
    line-height: 0.9rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.botcre{
    background: none !important;
    box-shadow: none !important;
}
.passub_num ul li img{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.25rem auto;
}
.passub_cre{
    height: 2.4rem;
    width: 100%;
    float: left;
    position: relative;
}
.passub_cre_zero{
    width: 30.66%;
    height: 2rem;
    margin:0.2rem auto;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 2rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.passub_cre_del{
    position: absolute;
    right: 2%;
    bottom:0.2rem;
    width: 30.66%;
    height: 2rem;
    text-align: center;
}
.passub_cre_del img{
    width: 1rem;
    height: 1rem;
    margin: 0.5rem auto;
}
.PassPrompt{
    width:100%;
    height: 0.45rem;
    float: left;
    font-size: 0.24rem;
    color: #ff0000;
    text-align: center;
    padding-top: 0.14rem;
}

.closePass{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0.12rem;
    right: 0.2rem;
}
.closePass img{
    width: 0.4rem;
    height: 0.4rem;
    display: block;
}

.myToast{
    z-index: 1000;
}
.myModa{
    width: 100%;
    height: 3rem;
    margin-top: 3.2rem;
    z-index: 1000;
}
.myAlertBox{
    width: 100%;
    height: 2.4rem;
}
.col2{
    width: 100%;
    padding: 0rem 0.3rem!important;
    float: left;
}
.exitBox,.exit{
    float: right!important;
}
@media (max-width: 306px) {
    .myModa{
        width: 100%;
    }
    .myAlertBox{
        width: 7rem!important;
    }
    .col{
        width: 3rem!important;
    }
}