#body{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: block;
    margin: 0 auto;
    font-family: PingFangSC-Regular, sans-serif;
}
/*头部样式*/
#top{
    width: 100%;
    height: 0.88rem;
    background-color: #ffffff;
    padding: 0 0.3rem;
    line-height: 0.88rem;
    float: left;
    display: block;
    position: fixed;
    z-index: 5;
}
.leftTop,.rightTop{
    width: 15%;
    height: 0.88rem;
    float: left;
}
.leftTop{
    position: relative;
}
.leftTop>img{
    width: 0.18rem;
    height: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.titleTop{
    width: 70%;
    float: left;
    text-align: center;
    font-size: 0.26rem;
    color: #000000;
}
/*内容样式*/
#content{
    width: 100%;
    float: left;
    margin-top: 0.88rem;
    display: block;
    overflow-y: auto;
    padding-bottom: 0.6rem;
}
/*加油站信息样式*/
.con-staticInfo{
    width: 100%;
    /*height: 2.96rem;*/
    background-color: #F2F2F2;
    padding:0.36rem 0.5rem 0.44rem;
    float: left;
    margin-top: 0.2rem;
    font-size: 0.28rem;
    color: #666666;
}
.con-staticInfo ul{
    width: 100%;
    float: left;
}
.con-staticInfo>ul>li{
    width: 100%;
    padding-bottom: 0.3rem;
    float: left;
    line-height: 0.4rem;
}
.con-staticInfo>ul>li:last-child{
    padding-bottom: 0rem;
}
.con-staticInfo>ul>li>span{
    font-size: 0.28rem;
    color: #999999;
}
/*优惠券样式*/
.con-coupon{
    width: 100%;
    height: 0.8rem;
    float: left;
    padding: 0rem 0.4rem;
    background-color: white;
    line-height: 0.8rem;
}
.con-couponName{
    float: left;
    font-size: 0.28rem;
    color: #808080;
}
.con-couponNum{
    float: right;
    font-size: 0.26rem;
    font-weight: bold;
    color: #ff6000;
    position: relative;
}
.couponNum{
    padding-right: 0.34rem;
}
.con-couponNum>img{
    width: 0.14rem;
    height: 0.26rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.border{
    width: 100%;
    height: 0.2rem;
    float: left;
    background-color: #F2F2F2;
}
/*支付信息样式*/
.con-payInfo{
    width: 100%;
    /*height: 2.86rem;*/
    background-color: white;
    padding: 0.6rem 0.3rem 0.3rem 0.4rem;
    float: left;
    font-size: 0.26rem;
    color: #999999;
}
.con-payInfo ul{
    width: 100%;
    float: left;
}
.con-payInfo>ul>li{
    width: 100%;
    padding-bottom: 0.2rem;
    float: left;
    line-height: 0.4rem;
}
.con-payInfo>ul>li:nth-child(3){
    padding-bottom: 0.4rem;
}
.con-payInfo>ul>li:last-child{
    padding-bottom: 0rem;
}
.count{
    float: right;
    font-size: 0.26rem;
}
.payCount{
    color: #2c2e7e;
}
.payMem{
    color: #ff6000;
}
.payCoupon{
    color: #999999;
}
.payBox{
    float: right;
    font-size: 0.26rem;
    color: #2c2c7e;
    font-weight: bold;
}
.pay{
    padding-left: 0.3rem;
    font-size: 0.32rem;
}
/*支付方式样式*/
.con-payType{
    width: 100%;
    float: left;
    padding: 0.3rem 0.4rem;
    background-color: white;
}
.con-payType ul{
    width: 100%;
    float: left;
}
.con-payType>ul>li{
    width: 100%;
    float: left;
    padding-bottom: 0.3rem;
    font-size: 0.24rem;
    color: #999999;
    line-height: 0.4rem;
}
.con-payType>ul>li:last-child{
    padding-bottom: 0rem;
}
.payType{
    width: 35%;
    float: left;
}
.payType img{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    margin-right: 0.2rem;
}
.payTypeCoup{
    float: left;
    font-size: 0.24rem;
    color: #ff6000;
}
.paybutton {
    width: 0.4rem;
    height: 0.4rem;
    background-color: white;
    border: 1px solid #808080;
    float: right;
    border-radius: 50%;
    position: relative;
}
.paybtn{
    width: 0.32rem;
    height: 0.32rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.active{
    background-color: #2c2e7e;
}
/*按钮样式*/
.btn{
    width: 100%;
    float: left;
    margin-top: 0.88rem;
}
.submit{
    width: 3.3rem;
    height: 0.8rem;
    background-color: #2d2f7d;
    font-size: 0.28rem;
    color: white;
    text-align: center;
    line-height: 0.8rem;
    display: block;
    margin: 0 auto;
    border-radius: 0.1rem;
}

/*遮罩层显示时body的样式*/
.notScroll {
    overflow: hidden;
}
/*提示样式*/
#hint{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 10;
    display: none;
    /*display: block;*/
}
.hintactive{
    display: block!important;
}
#showBox{
    width: 5.5rem;
    height: 6rem;
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 15;
    display: none;
}
.box{
    width: 5.5rem;
    height: 6rem;
    background-color: white;
    position: absolute;
    top: 0rem;
    right: 0rem;
    float: left;
}
.showBox-title{
    width: 100%;
    padding-top: 0.7rem;
    font-size: 0.3rem;
    color: #808080;
    text-align: center;
}
.showBox-title span{
    color: #ff6000;
}
.showBox-con{
    width: 100%;
    margin-top: 0.7rem;
    font-size: 0.22rem;
    color: #999999;
    text-align: center;
    float: left;
}
.showBox-con span{
    display: block;
}
.showBox-con img{
    width: 3.02rem;
    height: 3.02rem;
    display: block;
    margin: 0.2rem auto 0;
}
.close{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}
.close img{
    width: 0.4rem;
    height: 0.4rem;
    display: block;
}
/*输入密码样式*/
#showPass{
    width: 100%;
    height: 4.8rem;
    background-color: #FFFFFF;
    position: fixed;
    top: 2.5rem;
    left: 0rem;
    z-index: 15;
    border-radius: 0.1rem;
    display: none;
}
.PassBox{
    width: 100%;
    height: 4.8rem;
    background-color: #FFFFFF;
    position: absolute;
    top: 0rem;
    right: 0rem;
    float: left;
    border-radius: 0.1rem;
}
.Pass-title{
    width: 100%;
    height: 1.1rem;
    font-size: 0.3rem;
    color: #666666;
    text-align: center;
    line-height: 1.1rem;
    float: left;
}
.Pay-count{
    width: 100%;
    height: 1.6rem;
    background-color: #F2F2F2;
    text-align: center;
    float: left;
}
.Pay-title{
    width: 100%;
    font-size: 0.28rem;
    color: #808080;
    padding-top: 0.3rem;
    float: left;
}
.Pay-num{
    width: 100%;
    font-size: 0.36rem;
    color: #2c2e7e;
    padding-top: 0.2rem;
    float: left;
}
.Pass{
    width: 100%;
    padding: 0rem 0.6rem;
    margin-top: 0.5rem;
    float: left;
    position: relative;
}
/*输入密码框样式*/
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.alieditContainer{
    position: relative;
}
.sixDigitPassword {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.8rem;
    color: #fff;
    font-size: 0.42rem;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: initial;
    outline: none;
    z-index: 999;
    opacity:0;
    filter:alpha(opacity=0);
}

.sixDigitPassword-box {
    width: 100%;
    height: 0.8rem;
    cursor:text;
    background: #fff;
    outline: none;
    position: relative;
}
.sixDigitPassword-box i {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    font-size: 0.42rem;
    color: #666666;
    line-height: 0.8rem;
    text-align: center;
    background: #fff;
    border: 0.01rem solid #e6e2e2;
    box-shadow: 0px 0px 29px 0px rgba(2, 5, 118, 0.11);
    float: left;
    display: block;
}
.lastI{
    margin-right: 0rem!important;
}
.sixDigitPassword-box .active {
    background: url('../../img/MemberCenter/password-blink.gif') no-repeat center center;
}
.sixDigitPassword-box b {
    display: block;
    margin: 0.31rem auto;
    width: 0.18rem;
    height: 0.18rem;
    overflow: hidden;
    visibility:hidden;
    background: url('../../img/MemberCenter/passeord-dot.png') no-repeat;
}
.sixDigitPassword-box span {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: 0.8rem;
    border: 1px solid rgba(82, 168, 236, .8);
    border: 1px solid #00ffff\9;
    border-radius: 2px;
    visibility: hidden;
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.75), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.ui-securitycore  .ui-form-item .ui-form-explain{
    margin-top: 0;
}
.i-block{
    width: 100%;
    float: left;
}
.six-password{
    position: relative;
    height: 0.8rem;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;

}

.closePass{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0.12rem;
    right: 0.2rem;
}
.closePass img{
    width: 0.4rem;
    height: 0.4rem;
    display: block;
}