@charset "utf-8";
*{
    box-sizing: border-box;
}
html{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,figure,menu,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,select,th,td{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333333;
    text-decoration: none;
}
a:active{
    outline: 0;
}
a:focus,a:visited,a:active,a:hover{
    color: #333333;
    text-decoration: none;
}
audio,canvas,progress,video{
    display: inline-block;
    vertical-align: baseline;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 100%;
}
address,cite,dfn,em,i,var{
    font-style: normal;
}
strong{
    font-weight: normal;
}
code,kbd,pre,samp{
    font-family:"monospace";
    font-size: .1rem;
}
ul,ol{
    list-style: none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance: button;
    -moz-appearance: button;
}
textarea{
    overflow: hidden;
    vertical-align: top;
    resize: none;
}
input,textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
}
button,input,select,textarea,input[type="text"],input[type="password"],input[type="number"],input[type="tel"]{
    font-family: inherit;
    font-size: 100%;
    border: none;
}
button:focus,input:focus,select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="tel"]:focus{
    outline: none;
}
input[type="search"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{
    display: none;
}
input[type="search"]:focus{
    outline: none;
}
input:disabled,textarea:disabled{
    color: #999999;
}
img{
    border:none;
    vertical-align: top;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
td,th{
    padding: 0;
}
li{
    list-style: none;
    font-style: normal;
}
p{
    word-wrap: break-word;
}
body{
    font-family: "Helvetica Neue",Helvetica,sans-serif;;
    font-size: 0.14rem;
    line-height: 1;
    color: #333333;
}

html{
    font-size: 100px;
    font-size: 13.333333335vw;
}
@media screen and (min-width: 320px){
    html{
        font-size: 100px;
        font-size: 13.333333335vw;
    }
}










#body{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: block;
    margin: 0 auto;
    font-family: PingFangSC-Regular, sans-serif;
}
/*头部样式*/
#top{
    width: 100%;
    height: 0.88rem;
    background-color: #ffffff;
    padding: 0 0.3rem;
    line-height: 0.88rem;
    float: left;
    display: block;
    position: fixed;
    z-index: 5;
}
.leftTop,.rightTop{
    width: 15%;
    height: 0.88rem;
    float: left;
}
.leftTop{
    position: relative;
}
.leftTop>img{
    width: 0.18rem;
    height: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.titleTop{
    width: 70%;
    float: left;
    text-align: center;
    font-size: 0.26rem;
    color: #000000;
}
/*内容样式*/
#content{
    width: 100%;
    float: left;
    margin-top: 0.88rem;
    display: block;
    overflow-y: auto;
    padding-bottom: 0.6rem;
}
/*头部导航样式*/
.con-nav{
    width: 100%;
    height: 0.8rem;
    padding: 0.1rem 0.6rem 0.1rem 0.36rem;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    float: left;
}
.con-nav-item{
    width: 25%;
    height: 0.6rem;
    float: left;
    font-size: 0.28rem;
    color: #2c2e7e;
    font-weight: 500;
    text-align: center;
    line-height: 0.6rem;
}
.con-nav-item:last-child{
    margin-right: 0rem;
}
.active{
    width: 1.2rem;
    height: 0.6rem;
    display: inline-block;
    font-size: 0.28rem;
    color: #ff6000;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -o-border-radius:0.1rem;
    box-shadow: 0rem 0.01rem 0.09rem 0.01rem rgba(44, 46, 126, 0.15);
    -webkit-box-shadow: 0rem 0.01rem 0.09rem 0.01rem rgba(44, 46, 126, 0.15);
    -moz-box-shadow: 0rem 0.01rem 0.09rem 0.01rem rgba(44, 46, 126, 0.15);
    -o-box-shadow: 0rem 0.01rem 0.09rem 0.01rem rgba(44, 46, 126, 0.15);
    position: relative;
    top: 0;
    left: 0;
}
.active:before {
    width: 1.2rem;
    height: 0.6rem;
    content: "";
    display: block;
    position: absolute;
    top: 0.05rem;
    left: 0;
    border-bottom: 2px solid #2c2e7e;
}
/*优惠券列表样式*/
.con-list{
    width: 100%;
    float: left;
    padding: 0.2rem 0.3rem;
}
.con-list-item{
    width: 100%;
    height: 2.08rem;
    float: left;
    background-image: url("../../img/MemberCenter/coupbg.png");
    -webkit-background-image: url("../../img/MemberCenter/coupbg.png");
    -moz-background-image: url("../../img/MemberCenter/coupbg.png");
    -o-background-image: url("../../img/MemberCenter/coupbg.png");
    background-size: 100% 2.08rem;
    -webkit-background-size: 100% 2.08rem;
    -moz-background-size: 100% 2.08rem;
    -o-background-size: 100% 2.08rem;
    position: relative;
}
.list-left{
    width: 2.4rem;
    padding: 0.38rem 0rem 0rem 0.4rem;
    float: left;
    text-align: center;
}
.CoupPrice{
    font-size: 0.26rem;
    color: #2c2e7e;
    -webkit-text-stroke:0.01rem #a272fa;
}
.Price{
    font-size: 0.68rem;
    color: #2c2e7e;
    -webkit-text-stroke:0.01rem #a272fa;
}
.CoupPrefer{
    font-size: 0.26rem;
    color: #2c2e7e;
    padding-top: 0rem;
    padding-right: 0.2rem;
}
.list-middle{
    width: 55%;
    float: left;
    padding-top: 0.5rem;
}
.CoupName{
    font-size: 0.32rem;
    font-family: "Adobe 黑体 Std R";
    padding-bottom: 0.1rem;
}
.CoupTime{
    font-size: 0.24rem;
    color: #999999;
}
.state{
    width: 1.56rem;
    height: 1.56rem;
    position: absolute;
    top: 0.26rem;
    bottom: 0.16rem;
    left: 3.9rem;
    z-index: 3;
}