@charset "utf-8";
*{
    box-sizing: border-box;
}
html{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,figure,menu,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,select,th,td{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333333;
    text-decoration: none;
}
a:active{
    outline: 0;
}
a:focus,a:visited,a:active,a:hover{
    color: #333333;
    text-decoration: none;
}
audio,canvas,progress,video{
    display: inline-block;
    vertical-align: baseline;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 100%;
}
address,cite,dfn,em,i,var{
    font-style: normal;
}
strong{
    font-weight: normal;
}
code,kbd,pre,samp{
    font-family:"monospace";
    font-size: .1rem;
}
ul,ol{
    list-style: none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance: button;
    -moz-appearance: button;
}
textarea{
    overflow: hidden;
    vertical-align: top;
    resize: none;
}
input,textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
}
button,input,select,textarea,input[type="text"],input[type="password"],input[type="number"],input[type="tel"]{
    font-family: inherit;
    font-size: 100%;
    border: none;
}
button:focus,input:focus,select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="tel"]:focus{
    outline: none;
}
input[type="search"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{
    display: none;
}
input[type="search"]:focus{
    outline: none;
}
input:disabled,textarea:disabled{
    color: #999999;
}
img{
    border:none;
    vertical-align: top;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
td,th{
    padding: 0;
}
li{
    list-style: none;
    font-style: normal;
}
p{
    word-wrap: break-word;
}
body{
    font-family: "Helvetica Neue",Helvetica,sans-serif;;
    font-size: 0.14rem;
    line-height: 1;
    color: #333333;
}

html{
    font-size: 100px;
    font-size: 13.333333335vw;
}
@media screen and (min-width: 320px){
    html{
        font-size: 100px;
        font-size: 13.333333335vw;
    }
}


/*头部导航样式*/
#top{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.3rem;
    line-height: 0.88rem;
    float: left;
    display: block;
    position: fixed;
    background-color: #F2F2F2;
    z-index: 5;
}
.leftTop,.rightTop{
    width: 15%;
    height: 0.88rem;
    float: left;
}
.leftTop{
    position: relative;
}
.leftTop>img{
    width: 0.18rem;
    height: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.titleTop{
    width: 70%;
    float: left;
    text-align: center;
    font-size: 0.26rem;
    color: #000000;
}
/*内容部分样式*/
#body{
    width: 100%;
    display: block;
    float: left;
    background-color: white;
    margin-top: 0.88rem;
    padding-bottom: 2.4rem;
}
/*会员信息样式*/
.body-Info{
    width: 100%;
    height: 3.8rem;
    float: left;
    background:linear-gradient(126deg,rgba(204,228,255,1),rgba(167,218,255,1));
    background: -webkit-linear-gradient(126deg,rgba(204,228,255,1),rgba(167,218,255,1));
    background: -moz-linear-gradient(126deg,rgba(204,228,255,1),rgba(167,218,255,1));
    background: -o-linear-gradient(126deg,rgba(204,228,255,1),rgba(167,218,255,1));
}
.body-Info-Top{
    width: 100%;
    padding: 0.2rem 0.2rem 0.22rem 0.5rem;
    float: left;
}
.Info-Top-Left{
    float: left;
    margin-right: 0.1rem;
}
.Info-Head{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.Info-Head img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
.Info-Top-Right{
    float: left;
}
.Info-Name{
    font-size: 0.28rem;
    color: black;
    padding-top: 0.3rem;
    display: block;
}
.body-Info-Card{
    width: 100%;
    padding: 0 0.4rem;
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.Info-MemCard{
    /*width: 6.70rem;*/
    height: 2.00rem;
    display: block;
    /*float: left;*/
    margin: 0 auto;
    background-image: url("../../img/MemberCenter/VIPbg.png");
    background-size: 6.70rem 2.00rem;
    /*box-shadow: 0rem 0.14rem 0.284rem 0.116rem rgba(44, 46, 126, 0.15);*/
    position: relative;
}
.Info-MemCard-Name{
    width: 100%;
    height: 0.45rem;
    line-height: 0.25rem;
    float: left;
    padding: 0.2rem 0rem 0rem 0.11rem;
    font-size: 0.26rem;
    color: #2C2E7E;
    text-align: left;
}
.Info-MemCard-Num{
    width: 100%;
    line-height: 0.25rem;
    float: left;
    font-size: 0.32rem;
    font-family:PingFang-SC-Medium;
    color: #2C2E7E;
    padding: 0.13rem 0rem 0.34rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.Info-MemCard-Num span{
    padding-right: 0.5rem;
    letter-spacing: 0.1rem;
    display: inline-block;
}
.Info-MemCard-Num span:last-child{
    padding-right: 0rem;
}
.Info-MemCard-Info{
    width: 100%;
    height: 0.25rem;
    float: left;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    font-size: 0.26rem;
    color: #E6EEFF;
    line-height: 0.25rem;
}
.MemCard-Bal{
    margin: 0 auto;
    font-size: 0.26rem;
    display:inline-block;
}
.MemCard-Bal:first-child{
    margin-right: 0.75rem;
}
.MemCard-Bal span{
    float: left;
}
.Info-MemCard-Code{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 1.42rem;
    right: 0.3rem;
    bottom: 0.18rem;
    left: 6rem;
}
.Info-MemCard-Code img{
    width: 0.4rem;
    height: 0.4rem;
    display: block;
}
/*我的订单导航样式*/
.body-Order{
    width: 100%;
    float: left;
    margin-top: 0.36rem;
}
.body-Order-Title{
    width: 100%;
    float: left;
    display: block;
    font-size: 0.28rem;
    color: #4c4c4c;
    padding-left: 0.5rem;
}
.body-Order-Navs{
    width: 100%;
    float: left;
    padding: 0.3rem 0.45rem 0rem;
}
.Order-Nav-Item{
    width: 25%;
    float: left;
    text-align: center;
}
.Order-Nav-Item:last-child{
    margin-right: 0rem;
}
.Order-Nav-Item img{
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
}
.Order-Nav-Item span{
    font-size: 0.28rem;
    color: #4c4c4c;
    padding-top: 0.2rem;
    text-align: center;
    display: block;
}
/*设置导航样式*/
.body-Set{
    width: 100%;
    float: left;
    margin-top: 0.3rem;
}
.body-Set ul{
    width: 100%;
    float: left;
    padding: 0rem 0.3rem;
}
.body-Set>ul>li{
    width: 100%;
    height: 1rem;
    font-size: 0.3rem;
    color: #666666;
    line-height: 1rem;
    padding: 0rem 0.2rem 0rem 0.26rem;
    border-top: 1px solid #F7F7F7;
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.Set-Left{
    float: left;
    width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    margin: 0.35rem 0rem;
}
.Set-Tiltle{
    float: left;
    padding-left: 0.1rem;
}
.Set-Right{
    float: right;
    width: 0.14rem;
    height: 0.26rem;
    display: inline-block;
    margin: 0.37rem 0rem;
}
/*遮罩层显示时body的样式*/
.notScroll {
    overflow: hidden;
}
/*提示样式*/
#hint{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 10;
    display: none;
}
.active{
    display: block!important;
}
#showBox{
    width: 4.3rem;
    height: 3.2rem;
    position: fixed;
    top: 4.6rem;
    right: 1.6rem;
    z-index: 15;
    display: none;
    border-radius: 0.1rem;
}
.box{
    width: 4.3rem;
    height: 3.2rem;
    background-color: white;
    position: absolute;
    top: 0rem;
    right: 0rem;
    border-radius: 0.1rem;
    /*z-index: 20;*/
}
.box img{
    width: 0.82rem;
    height: 1rem;
    display: block;
    margin: 0.8rem auto 0;
}
.box span{
    font-size: 0.28rem;
    color: #808080;
    text-align: center;
    padding-top: 0.4rem;
    display: block;
}