/*头部导航样式*/
#top{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.3rem;
    line-height: 0.88rem;
    float: left;
    display: block;
    position: fixed;
    background-color: #F2F2F2;
    z-index: 5;
}
.leftTop,.rightTop{
    width: 15%;
    height: 0.88rem;
    float: left;
}
.leftTop{
    position: relative;
}
.leftTop>img{
    width: 0.18rem;
    height: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.titleTop{
    width: 70%;
    float: left;
    text-align: center;
    font-size: 0.26rem;
    color: #000000;
}
/*内容部分样式*/
#body{
    width: 100%;
    display: block;
    float: left;
    background-color: white;
    margin-top: 0.88rem;
    padding-bottom: 2.4rem;
}
/*会员信息样式*/
.body-Info{
    width: 100%;
    float: left;
}
.body-Info-Top{
    width: 100%;
    padding: 0.2rem 0.2rem 0.22rem 0.5rem;
    float: left;
}
.Info-Top-Left{
    float: left;
    margin-right: 0.1rem;
}
.Info-Head{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.Info-Head img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
.Info-Top-Right{
    float: left;
}
.Info-Name{
    font-size: 0.28rem;
    color: black;
    padding-top: 0.3rem;
    display: block;
}
.body-Info-Card{
    width: 100%;
    padding: 0 0.4rem;
    float: left;
}
.Info-MemCard{
    width: 6.70rem;
    height: 2.00rem;
    display: block;
    float: left;
    margin: 0 auto;
    background-image: url("../../img/MemberCenter/VIPbg.png");
    background-size: 6.70rem 2.00rem;
    box-shadow: 0rem 0.14rem 0.284rem 0.116rem rgba(44, 46, 126, 0.15);
    position: relative;
}
.Info-MemCard-Name{
    width: 100%;
    float: left;
    padding: 0.2rem 0rem 0rem 0.2rem;
    font-size: 0.26rem;
    color: white;
}
.Info-MemCard-Num{
    width: 100%;
    float: left;
    padding: 0.26rem 1.34rem 0.28rem 1.2rem;
    font-size: 0.32rem;
    color: white;
}
.Info-MemCard-Num span{
    float: left;
    padding-right: 0.52rem;
    letter-spacing: 0.07rem;
}
.Info-MemCard-Num span:last-child{
    padding-right: 0rem;
}
.Info-MemCard-Info{
    width: 100%;
    height: 0.3rem;
    float: left;
    padding: 0rem 0rem 0rem 1.2rem;
    font-size: 0.26rem;
    color: white;
    line-height: 0.3rem;
}
.MemCard-Bal{
    float: left;
    font-size: 0.26rem;
    color: white;
}
.MemCard-Bal span{
    float: left;
}
.Info-MemCard-Code{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    right: 0.3rem;
    bottom: 0.2rem;
}
.Info-MemCard-Code img{
    width: 0.4rem;
    height: 0.4rem;
    display: block;
}
/*我的订单导航样式*/
.body-Order{
    width: 100%;
    float: left;
    margin-top: 0.36rem;
}
.body-Order-Title{
    width: 100%;
    float: left;
    display: block;
    font-size: 0.28rem;
    color: #4c4c4c;
    padding-left: 0.5rem;
}
.body-Order-Navs{
    width: 100%;
    float: left;
    display: block;
    padding: 0.4rem 0.86rem 0rem;
}
.Order-Nav-Item{
    width: 0.8rem;
    float: left;
    margin-right: 0.86rem;
}
.Order-Nav-Item:last-child{
    margin-right: 0rem;
}
.Order-Nav-Item img{
    width: 0.8rem;
    height: 0.8rem;
    display: block;
}
.Order-Nav-Item span{
    font-size: 0.24rem;
    color: #4c4c4c;
    padding-top: 0.2rem;
    text-align: center;
    display: block;
}
/*设置导航样式*/
.body-Set{
    width: 100%;
    float: left;
    margin-top: 0.3rem;
}
.body-Set ul{
    width: 100%;
    float: left;
    padding: 0rem 0.3rem;
}
.body-Set>ul>li{
    width: 100%;
    height: 0.81rem;
    font-size: 0.26rem;
    color: #999999;
    line-height: 0.2rem;
    padding: 0.3rem 0.2rem 0.3rem 0.26rem;
    border-top: 1px solid #F7F7F7;
    float: left;
}
.Set-Tiltle{
    float: left;
}
.Set-Right{
    float: right;
    width: 0.14rem;
    height: 0.26rem;
}
/*遮罩层显示时body的样式*/
.notScroll {
    overflow: hidden;
}
/*提示样式*/
#hint{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 10;
    display: none;
}
.active{
    display: block!important;
}
#showBox{
    width: 4.3rem;
    height: 3.2rem;
    position: fixed;
    top: 4.6rem;
    right: 1.6rem;
    z-index: 15;
    display: none;
    border-radius: 0.1rem;
}
.box{
    width: 4.3rem;
    height: 3.2rem;
    background-color: white;
    position: absolute;
    top: 0rem;
    right: 0rem;
    border-radius: 0.1rem;
    /*z-index: 20;*/
}
.box img{
    width: 0.82rem;
    height: 1rem;
    display: block;
    margin: 0.8rem auto 0;
}
.box span{
    font-size: 0.28rem;
    color: #808080;
    text-align: center;
    padding-top: 0.4rem;
    display: block;
}