/*头部导航样式*/
#top{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.3rem;
    line-height: 0.88rem;
    float: left;
    display: block;
    position: fixed;
    background-color: white;
    z-index: 5;
}
.leftTop,.rightTop{
    width: 15%;
    height: 0.88rem;
    float: left;
}
.leftTop{
    position: relative;
}
.leftTop>img{
    width: 0.18rem;
    height: 0.22rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.titleTop {
    width: 70%;
    float: left;
    text-align: center;
    font-size: 0.26rem;
    color: #000000;
}
/*内容部分样式*/
#body{
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    float: left;
    background-color: #F2F2F2;
    margin-top: 0.88rem;
}
/*边框样式*/
.border{
    width: 100%;
    height: 0.2rem;
    background-color: #F2F2F2;
    float: left;
}
.content{
    width: 100%;
    float: left;
    background-color: white;
    border-radius: 0.1rem;
}
.content ul{
    width: 100%;
    float: left;
    padding: 0rem 0.5rem 0rem 0.4rem;
}
.content>ul>li{
    width: 100%;
    height: 1rem;
    font-size: 0.28rem;
    color: #cccccc;
    line-height: 1rem;
    border-bottom: 0.01rem solid #F2F2F2;
}
.content>ul>span{
    float: left;
}
.right{
    width: 0.14rem;
    height: 0.26rem;
    margin: 0.36rem 0rem;
    float: right;
}